<% @title = coi_form_title(@coi_form) %>

  <%= error_messages_for :coi_form %>
  <div class="block warning  right"><%= get('review_page_warning') -%></div>
  <div class="block"><%= get('blanket_coi_header') %></div>
  <div class="block"><%= get('blanket_coi_user_info', @user) %></div>

  <div style="page-break-after:always"></div>

	<div class="group" ><%= get('coi_conflicts') -%> 
	   <%=@coi_form.conflicts ? "YES" : "NO"%>
	</div>
     <%=render :partial=>"partials/financial_groups_review"%>
	  <table id="unbiased_table" style="margin-top:0px;border:1px solid;border-top:0px;">
     	<tr>
     		<td>
			<label><%= get('coi_reviewer_reported_bias') -%></label>
			<span class="array2yn"><%= @coi_form.unbiased ? "YES" : "NO"%></span>
     		</td>
     	</tr>
     </table>
		

<br />

<div class="group">
	<%= get('coi_by_signing_below') -%>
	<br />
	<br />	
	<%= form_tag({:action=>'commit', :id=>@coi_form.id}, {:id=>'form'}) %>
	<div><%= coi_signature_block('coi_form', 'Financial Disclosure Form') -%></div>
</div>
        

<% unless @generating_pdf %>
<div class="dontprint button-nav">
	
	<div style="float: right; margin-left: 25px;">
		<%= submit_tag " Submit Financial Disclosure Form ", :name=>'next' %></form>
		</div>

		<div style="float: right;">
		<%= form_tag({:action=>'edit', :id=>@coi_form.id}, {:id=>'form'}) %><%= submit_tag " Edit My Answers ", :name=>'previous' %></form>
		</div>
    </div>
</div>
<div class="clearing"></div>

<div align="center" class="dontprint"><h3><%= get('please_print') -%></h3></div>
<br />
<hr size="1" />

<%= get('office_use_only') -%>
<% end %>




