<% @title = coi_form_title(@coi_form) %>

  <%= error_messages_for :coi_form %>
  <div class="block warning  right"><%= get('review_page_warning') -%></div>
  <div class="block"><%= get('blanket_coi_header') %></div>
  <div class="block"><%= get('blanket_coi_user_info', @user) %></div>

  <div style="page-break-after:always"></div>

	<div class="group" ><%= get('coi_conflicts') -%> 
	<%= yes_or_no :coi_form, :conflicts, @coi_form.conflicts %>
	</div>
 <%=render :partial=>"partials/financial_groups"%>
<div id="no_conflicts_group">
                <table width="100%">
                  <tbody>
                    <tr>
                      <td>
                    	<p class="groupname">
                        <%= get('blanket_coi_question_header') -%>
						</p> 
                        <div id="financial_interests_group">
                          <table class="question" border="1" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td align="left">
                                  <table border="0" cellpadding="8" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td width="100%">
                                          <table class="question">
                                            <tbody>

    					      <% unless @generating_pdf %>
                                              <tr class="dontprint">
                                                <th colspan="2" align="left" class="array2">&nbsp;</th>
                                                <th align="left" class="array1" >
                                                  <%= get('blanket_coi_specify') -%>
                                                </th>
                                              </tr>
             			              <% end %>

                                              <tr>
						<td class="array1a" align="right"><%= get('coi_employment') %></td>                                               											
                                                <td  class="array2" ><%= yes_or_no :coi_form, :employment, @coi_form.employment %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'employment') -%></td>
                                              </tr>
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_ip') -%></td>
                                        		<td  class="array2" ><%= yes_or_no :coi_form, :ip, @coi_form.ip %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'ip') -%></td>
											  </tr>
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_consultant') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :consultant, @coi_form.consultant %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'consultant') -%></td>
                                              </tr>
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_honoraria') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :honoraria, @coi_form.honoraria %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'honoraria') -%></td>
                                              </tr>    
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_research') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :research, @coi_form.research %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'research') -%></td>
                                              </tr>    
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_ownership') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :ownership, @coi_form.ownership %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'ownership') %></td>
                                              </tr>    
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_expert') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :expert, @coi_form.expert %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'expert') -%></td>
                                              </tr>    
                                              <tr>
                                                <td class="array1" align="right"><%= get('coi_other') -%></td>
												<td  class="array2" ><%= yes_or_no :coi_form, :other, @coi_form.other %></td>
                                                <td class="array2" ><%=h @coi_form.details_on(true, 'other') -%></td>
                                              </tr>                                              
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table> 
				<div id="unbiased_group" class="answertext group"><%= get('coi_reviewer_reported_bias') -%>
					<span class="array2yn"> 
						<%= yes_or_no :coi_form, :unbiased, @coi_form.unbiased %>
					</span>
				</div>
		</div>

<br />

<div class="group">
	<%= get('coi_by_signing_below') -%>
	<br />
	<br />	
	<%= form_tag({:action=>'commit', :id=>@coi_form.id}, {:id=>'form'}) %>
	<div><%= coi_signature_block('coi_form', 'Conflict of Interest Form') -%></div>
</div>
        

<% unless @generating_pdf %>
<div class="dontprint button-nav">
	
	<div style="float: right; margin-left: 25px;">
		<%= submit_tag " Submit Conflict of Interest Form ", :name=>'next' %></form>
		</div>

		<div style="float: right;">
		<%= form_tag({:action=>'edit', :id=>@coi_form.id}, {:id=>'form'}) %><%= submit_tag " Edit My Answers ", :name=>'previous' %></form>
		</div>
    </div>
</div>
<div class="clearing"></div>

<div align="center" class="dontprint"><h3><%= get('please_print') -%></h3></div>
<br />
<hr size="1" />

<%= get('office_use_only') -%>
<% end %>





