<td>
    <%=radio_button(:comments, question, "A") %>
</td>
<td>
    <%=radio_button(:comments, question, "B") %>
</td>
<td>
    <%=radio_button(:comments, question, "C") %>
</td>
<td>
    <%=radio_button(:comments, question, "D") %>
</td>
<td>
    <%=radio_button(:comments, question, "N/A") %>
</td>
