<h1>Editing article_submission_reviewer</h1>

<% form_for(@article_submission_reviewer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :article_submission_id %><br />
    <%= f.text_field :article_submission_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @article_submission_reviewer %> |
<%= link_to 'Back', article_submission_reviewers_path %>