<div class="right">
		  <table class="gap_analysis">
		  		 <tr>
					<th><%= get('gap_analysis_header_1') -%></th>
					<th><%= get('gap_analysis_header_2') -%></th>
					<th><%= get('gap_analysis_header_3') -%></th>
				</tr>
		  		<tr> 
				   
					<td><%= article_submission.gap_1 %></td>
					<td><%= article_submission.gap_2 %></td>
					<td><%= article_submission.gap_3 %></td>
				</tr>
				<tr>
					<td><%= article_submission.gap_4%></td>
					<td><%= article_submission.gap_5 %></td>
					<td><%= article_submission.gap_6 %></td>
				</tr>
				<tr>
					<td><%= article_submission.gap_7 %></td>
					<td><%= article_submission.gap_8 %></td>
					<td><%= article_submission.gap_9%></td>
			   </tr>
		  	</table>
		  
		</div>
	</div>
