<div class="right">
    <p>
        <label nowrap="nowrap" class="questionlabel">
            <%= get('learn_obj_1') -%>
        </label>
        <%= article_submission.learn_obj_1 %>
    </p>
    <p>
        <label nowrap="nowrap" class="questionlabel">
            <%= get('learn_obj_2') -%>
        </label>
        <%= article_submission.learn_obj_2 %>
    </p>
    <p>
        <label nowrap="nowrap" class="questionlabel">
            <%= get('learn_obj_3') -%>
        </label>
        <%= article_submission.learn_obj_3 %>
    </p>
    <p>
        <label nowrap="nowrap" class="questionlabel">
            <%= get('learn_obj_4') -%>
        </label>
        <%= article_submission.learn_obj_4 %>
    </p>
</div>
