<% @title = "Reset Password" %>

<%= error_messages_for :user %>

<p>Welcome <%= @user.full_name -%>. Please enter your new password in the fields below.</p>
<% form_for :user, :url => {:controller => 'users', :action => 'reset_password', :t => nil} do |f| -%>
  <table>
    <tr><td class="questionlabel"><label for="plain_password">Password:</label></td>
    <td class="answer" nowrap="nowrap"><%= f.password_field :plain_password %></td></tr>
	
    <tr><td class="questionlabel"><label for="password_confirmation">Confirm Password:</label></td>
    <td class="answer" nowrap="nowrap"><%= f.password_field :plain_password_confirmation %></td></tr>
  </table>

  <p><%= submit_tag 'Change Password' %></p>
<% end -%>
