
<p>This email is to notify you that a reviewer has either accepted or declined.</p>

<p>Manuscript: '<%= @a_s_r.article_submission.title -%>'</p>

<p>Reviewer: <%= @a_s_r.user.name -%>, <a href='mailto:<%= @a_s_r.user.email -%>'><%= @a_s_r.user.email -%></a></p>

<p>Current Status: <%= @a_s_r.current_status_name -%></p>


