<h2>Credit Card Charge Report</h2>
<p><%= link_to '[ Authorize.net ]', 'https://account.authorize.net/', :target => '_blank' -%> &nbsp; &nbsp;  
<%= link_to '[ Export to Excel ]', :action => :charge_export, :per_page => @per_page -%> </p>
<%= form_tag :action => :charge -%>

<div id="charges_form">
  <div id="action_bar">
    <%= page_entries_info @charges -%> &mdash;
    <%= select_tag('per_page', options_for_select([25, 50, 75, 100, 150, 200, 300, 999], @per_page)) -%> submissions per page &nbsp;
    <%= submit_tag 'Refresh' -%>
  </div>

  <table style="clear: both; width: 100%;" class="admin_table"> 
    <tr>
      <th style='width: 20%;'>
        Processed <%= select_tag('date_range', options_for_select([['Anytime',0], ['within last 2 weeks',14], ['within last 30 days',30], ['within last 90 days',90], ['within last 180 days',180], ['within last year',365]], @date_range)) -%>
      </th>
      <th style='width: 30%;'>User</th>
      <th style='width: 10%;'>Charge</th>
    </tr>
    <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.processed.strftime("%x %H:%M") -%></td>
        <td><%= charge.article_submission.corresponding_author.full_name -%></td>
        <td><%= charge.amount / 100 -%></td>
      </tr>
    <% end %>
  </table>
</div>

</form>
